<h2>Add a new to do:</h2>

<form action="/todos" method="post" accept-charset="utf-8">
  <label for="title">Title</label>
  <input type="text" id="title" name="title">
  <input type="submit" value="Add to do">
</form>